div {
  clear: left;
}

#weapons-display .x.axis text {
  text-anchor: end !important;
  transform: rotate(-45deg);
}

#target-chart .x.axis text {
  text-anchor: end !important;
  transform: rotate(-45deg);
}

