div {
  clear: left;
}

#weapons-display .x.axis text {
  text-anchor: end !important;
  transform: rotate(-45deg);
}

#target-chart .x.axis text {
  text-anchor: end !important;
  transform: rotate(-45deg);
}

.fa-bolt {
  width: 50px;
  height: 50px;
  color: black;
}

.numberDisplays{
  font-size: 300%;
}

.mid-right{
  margin-top: 15px;
}

hr {
  margin-top: 15px;
}

#world-map-chart{
  border-left: 20%;
  border-top: 20%;
}

.displaynumbers { 
  color: #7a1720;
  font-family: Sans-serif;
  font-weight: bold;
  
}

.btn-success {
  border-color: #7a1720;
  background-color: #7a1720;
}

.btn-success:hover {
  background-color: #3683bb;
  border-color: #3683bb;
}

row _4 {
  fill: #7a1720;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
